body {
  color: #eee;
  background-color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
/*  max-width: 65ch;*/
}

main {
  display: grid;
  grid-template-columns: 1fr min(1200px, 100%) 1fr;
  
/*  max-width: 65ch;*/
/*  max-width: 1280px;*/
  margin: auto;
  padding: 0 32px;
}
.gridWrapper > * {
  grid-column: 2;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}
.headerNav {
}
.headerNav > ul {
  list-style: none;
  padding: 0;
  display: flex;
/*  flex-wrap: wrap;*/
}
.headerItem {
  padding: 12px;
}

.cards {
/*  background-color: #600606;*/
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 32px;
  border-width: 2px;
  background-color: #333;
  max-width: 288px; /*image height will be 162*/
}
.card > p, h2 {
  margin: 4px 16px 16px 16px;
}

.singleContent {
  margin: auto;
  max-width: 65ch;
}
blockquote {
  border-color: darkred;
  border-width: 0 0 0 4px;
  border-style: solid;
  padding-left: 24px;
  margin: 0;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #e00;
  text-decoration: none;
}
a:visited {
  color: #b08;
}
